/* General styles*/
body, html{
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	background-color: #fff;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

.container-fluid{
	padding: 30px 30px;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	list-style-type: none;
}

a {
	color: #4c4c4f;
	font-weight: 600;
	text-decoration: none;
}

a:hover{
	color: #dc3545;
	text-decoration: none;
}

.no-padding {
	padding: 0;
}

/* Login-page*/
.main-content {
	/*background-color: #2e344e;*/
	background-color: #2e344e;
	/*background: linear-gradient(135deg,#356fae 0%,rgba(21, 184, 176, 0.95) 100%), no-repeat center center;
	/*height: 850px;*/
	width: 100%;
	height: 100vh;
	color: #fff;
}

.flex-row{
	display: flex;
}

.content {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	padding: 0 40px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;

}

body{
	overflow-x: hidden;
}

.content img {
	width: 250px;
}

.content h2{
	margin-top:25px;
    color: #fff;
    font-size: 2rem;
	font-weight: 600;
}

/*form*/

.form-container {
	width: 50%;
}

.form-container h3 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: left;
}

.group 			  { 
  position:relative; 
  margin-bottom: 30px;
}

.material-input input {
    font-size: 1rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e4e8f0;
}

/*.material-input .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: .5;
}*/

input { outline:none;}



/* active state */
.material-input input:focus ~ label, .material-input input:valid ~ label 		{
  top:-20px;
  font-size:12px;
  color: #e4e8f0;

}

/* BOTTOM BARS ================================= */
.material-input .bar {
    position: relative;
    display: block;
    width: 100%;
}
.material-input .bar:before {
    left: 50%;
}
.material-input .bar:before, .material-input .bar:after {
    content: '';
    height: 1px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5d5386;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.material-input .bar:after {
    right: 50%;
}

.material-input label {
    color: #98a8b4;
    font-size: .9rem;
    font-weight: 400;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
.input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
  
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ background:transparent; }
}

.checkbox-style {
    position: relative;
    padding-left: 5px;
    text-align: left;
}

.checkbox-style input[type="checkbox"] {
	margin-top: 12px;
	margin-right: 10px;
	
}

/*.checkbox-style label:before {
    left: 0;
    width: 20px;
    height: 20px;
    margin: -15px 0 0;
    background: rgba(52,40,104,.1);
    box-shadow: 0 0 1px #eee;
}
.checkbox-style label:before, .checkbox-style label:after {
    content: '';
    position: absolute;
    top: 50%;
    border-radius: 4px;
}*/

.reset-style {
	padding-top: 12px;
}

.btn-login {
    margin: 25px 0 0 0;
}


.btn-color, .btn-color a {
    background: #e23f83;
    background: linear-gradient(to right,#e23f83 0%,#ea5844 100%);
    /*background: linear-gradient(to right,#99b5e7 0%,#a0ebda 100%);*/
    background-size: 200% auto;
    font-weight: 600;
    transition: 0.5s;
    color: #fff;
    border: 0 none;
    /*padding: 12px 20px;*/
}

.button a:hover, .btn-login a:hover {
	color: #fff;
	text-decoration: none;
}

.btn {
    font-weight: 600!important;
    line-height: 1.25;
   /*border: 2px solid transparent;*/
    padding: 10px 20px;
    font-size: .85rem;
    border-radius: 60px;
    transition: all 0.2s ease-in-out;
    position: relative;
    overflow: hidden;
}

.btn-style {
    padding: .60rem 2.2rem;
    font-size: 1rem;
    border-radius: 4.2rem;
}

/* resetpswd page styles*/


/*.bg-fixed {
background: rgba(56,0,13,0.98);
background: -moz-linear-gradient(left, rgba(56,0,13,0.98) 0%, rgba(61,0,14,0.98) 23%, rgba(76,1,18,1) 93%, rgba(38,7,15,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(56,0,13,0.98)), color-stop(23%, rgba(61,0,14,0.98)), color-stop(93%, rgba(76,1,18,1)), color-stop(100%, rgba(38,7,15,1)));
background: -webkit-linear-gradient(left, rgba(56,0,13,0.98) 0%, rgba(61,0,14,0.98) 23%, rgba(76,1,18,1) 93%, rgba(38,7,15,1) 100%);
background: -o-linear-gradient(left, rgba(56,0,13,0.98) 0%, rgba(61,0,14,0.98) 23%, rgba(76,1,18,1) 93%, rgba(38,7,15,1) 100%);
background: -ms-linear-gradient(left, rgba(56,0,13,0.98) 0%, rgba(61,0,14,0.98) 23%, rgba(76,1,18,1) 93%, rgba(38,7,15,1) 100%);
background: linear-gradient(to right, rgba(56,0,13,0.98) 0%, rgba(61,0,14,0.98) 23%, rgba(76,1,18,1) 93%, rgba(38,7,15,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38000d', endColorstr='#26070f', GradientType=1 );
}*/

.bg-fixed {
    /*background: linear-gradient(135deg,rgb(57, 53, 71) 0%,rgba(205,95,109,.95) 100%), no-repeat center center;*/
    background: linear-gradient(135deg,#356fae 0%,rgba(21, 184, 176, 0.95) 100%), no-repeat center center;
}

.reset-form {
    background: #fff;
    font-size: .9rem;
    padding: 3.8rem 3rem;
    display: block;
    width: 400px;
    max-width: 400px;
    border-radius: 4px;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 15px 25px 2px rgba(0,0,0,.14), 0 5px 30px 5px rgba(0,0,0,.12);
    z-index: 2;
}

.logo{
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.logo img{
	width: 200px;
}

.reset-form h3 {
    /*color: #2c304d;*/
    font-size: 1.4rem;
    font-weight: 500;
    margin: 30px 0;
    text-align: center;
}

.reset-form .back {
    color: #40545a;
    text-align: center;
    margin-top: 30px;
}

/* Dashboard Page styles*/

.page {
	overflow-x: hidden;
	background: #f9f9f9;
}

header {
	min-height: 70px;
	position: relative;
}

nav.navbar {
    background: #fff;
    padding: 0 15px;
    color: #aea9c3;
    border-radius: 0;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
    z-index: 1000;
    width: 100%;
}

.navbar-holder {
    width: 100%;
}

.navbar-brand {
    display: inline-block;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-right: 1rem;
    font-size: 1.25rem;
}

.navbar-brand .navlogo1{
	width: 170px;
}

.navbar-brand .navlogo2{
	width: 120px;
}

nav.navbar .menu-btn {
    margin-right: 0;
    font-size: 1.2em;
    vertical-align: middle;
    padding: 0;
    display: inline-block;
}

nav.navbar .menu-btn.active span:first-of-type {
    transform: translateX(10px);
    margin-top: 0;
    transition: all 0.6s;
}

nav.navbar .menu-btn span {
    background: #aea9c3;
    width: 20px;
    height: 2px;
    display: block;
    margin: 7px 0;
    border-radius: 35px;
    transition: all 0.3s cubic-bezier(.81,-.33,.345,1.375);
}

nav.navbar .menu-btn span:first-of-type {
    margin-top: 0;
    transition: all 0.6s;
}

nav.navbar .menu-btn span:nth-of-type(2) {
    transform: none;
    position: relative;
    width: 30px;
}


nav.navbar .menu-btn.active span:last-of-type {
	transform: translateX(15px);
	position: relative;
    margin-top: 0;
    transition: all 0.3s;
    width: 15px;
}

nav.navbar .menu-btn span:last-of-type {
	position: relative;
    margin-top: 0;
    transition: all 0.3s;
    width: 15px;
}

nav.navbar .menu-btn span{
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);

}

.nav-menu {
	/*max-height: 60px;*/
	/*margin-right: 50px;*/
}

.nav-item{
	transform: translateY(2%);
}

.search {
	max-height: 40px;
/*	position: relative;
	top: 50%;
	right: 10%;*/
	-webkit-transform: translateX(-30%) ;
	    transform: translateX(-30%);
}
.search * {
  outline: none;
  box-sizing: border-box;
}
.search__wrapper {
  position: relative;
}
.search__field {
  width: 50px;
  height: 50px;
  color: transparent;
  font-size: 1rem;
  padding: 0.35em 50px 0.35em 0;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.search__field:focus {
  border-bottom-color: #ccc;
  width: 50vw;
  color: black;
  cursor: default;
  border: 1px solid transparent;
}
.search__field:focus ~ .search__icon {
  background-color: transparent;
  cursor: pointer;
  pointer-events: auto;
  border: 1px solid transparent;
}
.search__icon {
  position: absolute;
  top: 3px;
  right: 0;
  background-color: #e9f1f4;
  width: 35px;
  height: 35px;
  color: #aea9c3;
  font-size: 1.35em;
  font-weight: bold !important;
  text-align: center;
  border-color: transparent;
  border-radius: 50%;
  pointer-events: none;
  display: inline-block;
  transition: background-color 0.2s ease-in-out;
}

.search__icon:focus {
	border: none;
}
.search__field::-webkit-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  opacity: 0.5;
}
.search__field:-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-moz-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field:-ms-input-placeholder {
  position: relative;
  top: 0;
  left: 0;
  transition-property: top, color;
  transition-duration: .1s;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
}
.search__field::-webkit-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field::-moz-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}
.search__field:-ms-input-placeholder[style*=hidden] {
  color: #83b0c1;
  font-size: .65em;
  font-weight: normal;
  top: -20px;
  opacity: 1;
  visibility: visible !important;
}

.nav-link i {
    color: #aea9c3;
}

nav.navbar .nav-item>a {
    position: relative;
    font-size: 2rem;
    padding: 0;
    width: 50px;
    text-align: center;
    line-height: 70px;
}


.la-bell:before {
    content: "\f140";
}

nav.navbar .user-size.dropdown-menu {
    min-width: 250px;
    overflow: hidden;
}

nav.navbar .dropdown-menu {
    right: 0;
    min-width: 300px;
    left: auto;
    margin-top: 0;
    padding: 0;
    max-width: 400px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 30px rgba(0,0,0,.15);
}

nav.navbar .user-size.dropdown-menu li.welcome {
    width: 150px;
    margin: 0 auto;
    padding: 1.4rem 0;
    position: relative;
}

li.welcome .roundedbig {
	font-size: 2.8rem;
    display: block;
    width: 70px;
    height: 70px;
    margin: 0 auto 10px;
    border-radius: 50%;
    background-color: #00648f;


}
nav.navbar .user-size.dropdown-menu li.welcome a.edit-profil {
    position: absolute;
    background: #fff;
    font-size: 1.6rem;
    border-radius: 50%;
    right: 20px;
    bottom: 10px;
    box-shadow: 0 1px 15px 1px rgba(0,0,0,.1);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    padding: 0;
    z-index: 1001;
}


.roundedbig.fa-user:before {
	position: relative;
    top: 15px;
    left:15px;
    content: "\f364";
}

/* Side-bar style*/

.default-sidebar {
	background-color: #2c304d;
	position: fixed;
	height: 100%;
	top: 0;
	z-index: 999;
	transition: all 0.2s ease;
}

.default-sidebar > .side-navbar{
	min-width: 240px;
	max-width: 240px;
	color: #fff;
	z-index: 999;
	position: relative;
	height: 100%;
	padding: 80px 0;
	display: block;
}

.default-sidebar > .side-navbar ul{
	padding: 10px 0;
}
.default-sidebar>.side-navbar ul a {
    color: #aea9c3;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    font-weight: 500;
}

.default-sidebar>.side-navbar a{
	position: relative;
	font-size: 1rem;
}

.default-sidebar>.side-navbar a i {
    font-size: 1.6rem;
    margin-right: 10px;
    transition: none;
    vertical-align: -4px;
    color: #98a8b4;
}